.card {
  width: 100%;
  padding: 5px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.card img {
  height: auto;
  width: 20%;
  display: flex;
  justify-content: center;
}